.order-product{
    border: 2px solid #CED2D9;
    border-radius: 30px;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 4px;
    margin-bottom: 32px;
}
.order-product .order-product-img{
    width: 80px;
    min-width: 80px;
    height: 80px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.order-product .order-product-img img{
    height: 100%;
}
.order-product h4{
    margin-bottom: 4px;
}
.order-product h4+span{
    font-size: 14px;
}
.order-product .green-button{
    width: fit-content;
    padding: 4px 12px;
    border-radius: 30px;
    font-weight: normal;
}
