.pro{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 0 16px;
}
@media (min-width: 1400px){
    .pro{
        padding: 0 56px;
    }
}