.overflow-fix{
  width: 232px;
  height: 262.15px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  margin: 0 auto;
}
.border-container{
  width: 100%;
  height: 232px;
  padding: 11.6px;
  border: 3.82px solid #53AC5F;
  border-radius: 50%;
}
.slider-pot-container{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #53AC5F;
  position: relative;
}
.slider-pot-child{
  width:100%;
  height: 100%;
  display: flex;
}
.modified-container{
  min-width: 202.4px;
  height: 100%;
  text-align: center;
}
.slider-pot-child img{
  margin-top: -41.76px;
  height: 100%;
  user-select: none;
}
.slider-pot-container .next-btn{
  position: absolute;
  left: 9.28px;
  bottom: 78.42px;
  user-select: none;
  font-size: 18px;
  color:#FFFFFF;
  cursor: pointer;
}
.bullets-container{
  width: fit-content;
  max-width: 115px;
  margin:-42.8px auto 0;
  list-style-type: none;
  display: none;
}
.bullet{
  width:9.17px;
  height: 9.17px;
  background-color: #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}
.bullet:not(:first-child, :last-child){
  margin: 0 8px;
}
.bullet.active{
  width:11.46px;
  height: 11.46px;
  background-color: #53AC5F;
  border: 2.29px solid #FFFFFF;
}
.slider-pot-container::before,
.slider-pot-container::after{
  content: '';
  border:3.82px solid #53AC5F;
  border-radius: 50%;
  position: absolute;
}
.slider-pot-container::before{
  width: 46.4px;
  height: 46.4px;
  top: -14.88px;
  left: -12.23px;
}
.slider-pot-container::after{
  width: 32.48px;
  height: 32.48px;
  bottom: 13.92px;
  right: 178.64px
}
@media (min-width:576px){
  .overflow-fix{
    width:382px;
    height: 431.66px;
  }
  .border-container{
    height: 382px;
    padding: 19.1px;
  }
  .modified-container{
    min-width: 337.4px;
  }
  .slider-pot-child img{
    margin-top: -68.76px;
  }
  .slider-pot-container .next-btn{
    left:34px;
    bottom: 148px;
    font-size: 30px;
  }
  .slider-pot-container::before,
  .slider-pot-container::after{
    display: block;
  }
  .bullets-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .slider-pot-container::before{
    width: 76.4px;
    height: 76.4px;
    top:-22.83px ;
    left:-13.75px
  }
  .slider-pot-container::after{
    width: 53.48px;
    height: 53.48px;
    bottom: 22.92px;
    right: 294.14px;
  }
}
@media (min-width:768px) {
  .overflow-fix{
    margin-left: 0;
  } 
}
swiper-slide {
  max-width: 88px;
  width: 88px;
  max-height: 88px;
  border: 2px solid #53AC5F;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  position: relative;
}
swiper-slide:not(:last-child){
  margin-left: 8px;
}
.swiper-slide-hover{
  position: absolute;
  width:100%;
  height: 100%;
  top:0;
  left:0;
  cursor: pointer;
  background-color: rgb(240, 240, 240, 85%);
  display: none;
}
.swiper-slide-hover i{
 font-size: 26px;
 color: #53AC5F;
 line-height: 3;
}
swiper-slide:hover .swiper-slide-hover{
  display: block;
}
swiper-slide img{
  width: 100%;
}
@media (min-width: 768px) {
  swiper-slide{
    max-width: 118px;
    width: 118px;
    max-height: 118px;
  }
  swiper-slide:not(:last-child){
    margin-left: 16px;
  }
  .swiper-slide-hover i{
    font-size: 36px;
  }
}
@media (min-width:1400px){
  swiper-container{
    height: 520px;
  }
  swiper-slide:not(:last-child){
    margin-left: 0;
  }
  swiper-slide:not(:last-child){
    margin-bottom: 16px;
  }
}

.slider-panel-blur-container{
  background-color: rgb(0, 0, 0, 64%);
  position: fixed;
  top:0;
  left: 0;
  width:100%;
  height: 100vh;
  padding: 100px 24px;
  z-index: 3;
  text-align: center;
}
.slider-panel-container{
  width:100%;
  height: 100%;
  background-color: #FFFFFF;
  padding: 0 16px;
  position: relative;
  display: flex;
  align-items: center;
}
.close-btn{
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 20px;
  border-radius: 50%;
  line-height: 1;
  padding: 4px;
  cursor: pointer;
  transition: .2s all;
}
.close-btn:hover{
  background-color: rgb(0, 0, 0, 10%);
}
.panel-photo-container{
  width:100%;
  height:190px;
  overflow: hidden;
  position: relative;
}
.panel-photo-slide{
  display: flex;
  height: 100%;
}
.photo-panel{
  min-width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
}
.photo-panel img{
  height: 100%;
}
/* .panel-multiple-choices-container{
  overflow: hidden;
} */
/* .panel-multiple-choices{
  display: flex;
  gap:8px;
  margin: 80px 4px 10px;
  transition: .3s;
} */
/* .choice-photo-panel{
  width: 80px;
  min-width: 80px;
  height: 64px;
  background-color: #D9D9D9;
  border-radius: 8px;
  text-align: center;
  overflow: hidden;
} */
/* .choice-photo-panel.active{
  outline: 2px solid #53AC5F;
  outline-offset: 2px;
} */
/* .choice-photo-panel img{
  width: 100%;
  user-select: none;
} */
.panel-btn{
  position: absolute;
  /* bottom: 56px; */
  top: 50%;
  font-size: 22px;
  color: #53AC5F;
  cursor: pointer;
}
.panel-next-btn{
  left:0
}
.panel-prev-btn{
  right: 0;
  transform: rotate(180deg);
}
.photo-number{
  display: inline-block;
  margin-top: 24px;
  color: #FFFFFF;
  font-size: 14px;
}
.photo-number span{
  font-size: 20px;
  margin: 0 8px;
}
@media (min-width: 768px){
  .panel-photo-container{
    height: 280px;
  }
  .choice-photo-panel{
    width: 129.55px;
    min-width: 129.55px;
    height: 93.63px;
  }
}
@media (min-width: 992px){
  .slider-panel-blur-container{
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 120px;
  }
  .slider-panel-container{
    padding-left: 80px;
    padding-right: 80px;
  }
  .panel-btn{
    font-size: 32px;
  }
  .close-btn{
    top: 24px;
    right: 24px;
    font-size: 24px;
  }
  /* .choice-photo-panel{
    width: 169.05px;
    min-width: 169.05px;
    height: 122.18px;
  }
  .panel-multiple-choices{
    gap:24px;
  } */
}
