.article-container-dir{
    /* direction: ltr; */
}
.article-title{
    /* margin-bottom: 56px;   */
    margin-bottom: 32px;
}
.article-title h2{
    /* font-size: 64px; */
    font-size: 32px;
    font-weight: bold;
    /* margin-right: 10px; */
    margin-bottom: 8px;
    line-height: 1.2;
    /* line-break: anywhere; */
}
.article-title h3{
    /* font-size: 48px; */
    font-size: 26px;
    font-weight: bold;
    margin-right: 10px; 
}
.singlearticle img{
    margin: 24px 0;
    width:100%;
}
.singlearticle h4{
    /* font-size: 24px; */
    font-size: 20px;
    text-decoration: underline;
    font-weight: bold;
    direction: rtl;
    color: #000;
}
.singlearticle p{
    /* direction: rtl; */
    /* line-height: 1.7; */
    line-height: 2;
    color: #535353;
    /* font-size: 24px; */
}
.article-author-container{
    margin-top: 24px;
}
@media (min-width: 768px){
    .singlearticle{
        /* display: flex;
        justify-content: space-between;
        flex-wrap: wrap; */
        column-count: 2;
        column-gap: 40px;
    }
    /* .article-title, .singlearticle section, .article-author-container{
        width: 48%;
    }
    .article-title{
        float: right;
    }
    .article-author-container{
        clear: both;
    } */
}
@media (min-width: 992px){
    .article-title{
        margin-bottom: 56px;  
    }
    .article-title h2{
        font-size: 64px;
        margin-bottom: 24px;
    }
    .article-title h3{
        font-size: 32px;
    }
    .singlearticle img{
        margin: 40px 0;
    }
}
@media (min-width: 1400px){
   .singlearticle{
        column-gap: 88px;
    }
}
.publish-or-refuse-container{
    width:100%;
    padding: 16px 40px;
    /* position: fixed; */
    /* left:0;
    top:80px; */
    display: flex;
    gap: 32px;
    justify-content: flex-end;
    text-align: left;
    border-bottom: 1px solid rgba(83, 172, 95, 1);
    background-color: #fff;
    margin-top: 80px;
}
.publish-or-refuse-container.fixed-container {
    position: fixed;
    top: 0;
    left: 0;
}

.publish-or-refuse-container .green-button{
    width: fit-content;
    font-size: 14px;
    padding: 8px 32px;
}

