.cart-products h2{
  margin-bottom: 40px;
}
.payment-form-container{
  position: fixed;
  top:0;
  right: 0;
  width:100%;
  z-index: 3;
  transform: translateX(100%);
  transition: transform .5s ease;
  overflow: scroll;
  max-height: 100vh;
}
.payment-form-container.open{
  transform: translateX(0);
}
.pay-btn{
  margin-bottom: 32px;
}
@media (min-width:992px){
  .cart-sec{
    display: flex;
    justify-content: space-between;
  }
  .cart-products{
    width: 50%;
  }
  .cart-products h2{
    margin-bottom: 80px;
    font-size: 1.875rem;
  }
  .payment-form-container{
    position: sticky;
    top: 40px;
    opacity:1;
    transform: translateX(0);
    overflow: auto;
    width: 45%;
    max-width: 464px;
  }
  .pay-btn{
    display: none;
  }
}
