.cart-products h2{
  margin-bottom: 40px;
}
.payment-form-container{
  position: fixed;
  top:0;
  right: 0;
  width:100%;
  z-index: 3;
  transform: translateX(100%);
  transition: transform .5s ease;
  overflow: scroll;
  max-height: 100vh;
}
.payment-form-container.open{
  transform: translateX(0);
  padding-top: 80px;
}
.pay-btn{
  margin-bottom: 32px;
}
@media (min-width:992px){
  .cart-sec{
    display: flex;
    justify-content: space-between;
  }
  .cart-products{
    width: 50%;
  }
  .cart-products h2{
    margin-bottom: 80px;
    font-size: 1.875rem;
  }
  .payment-form-container{
    position: sticky;
    top: 40px;
    opacity:1;
    transform: translateX(0);
    overflow: auto;
    width: 45%;
    max-width: 464px;
  }
  .pay-btn{
    display: none;
  }
}


.checkout-container .slider-panel-container{
  width:40%;
  min-width: 320px;
  margin: 0 auto;
  padding: 32px;
  display: block;
}
.checkout-container .slider-panel-container ul{
  list-style-type: none;
  
}
.checkout-container .slider-panel-container ul li{
  display: flex;
  justify-content: space-between;
  /* border-bottom: 1px dashed #D9D9D9; */
  padding: 16px 0;
  margin-top: 16px;
  color: #6A6A6A
}
.checkout-container .slider-panel-container ul li:not(:last-child){
  border-bottom: 1px dashed #D9D9D9;
}
.checkout-container .slider-panel-container ul li span:first-child{
  font-weight: bold;
}
.checkout-container .slider-panel-container button{
  margin-top: 40px;
}
@media (min-width: 992px) {
  .payment-form-container.open{
    padding-top: 0;
  }
}