.products{
    margin-top: 40px;
}
.products .p-header{
    display: flex;
    background: rgba(83, 172, 95, 1);
    justify-content: space-around;
    border-radius: 18px;
    margin-top: 20px;
    height: 450px;
    width: 90%;
    margin: auto;

}
.products .p-header .content{
    direction: rtl;
    width: 50%;
}
.products .p-header .content h2{
    font-size: 64px;
    color: #fff;
}
.products .p-header .content p{
    font-size: 48px;
    color: #fff;
}
.products .p-header .img{
    background: #fff;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    margin-top: 12px;
}
.products .p-header .img img{
    height: 450px;
    width: 400px;
}