.products .product-tap{
    padding: 16px 0;
    display: flex;
    justify-content: flex-end;
    margin: 32px 16px 0;
    border-bottom: 1px solid #A9A9A9;
}
.products .product-tap .add-product-btn{
    display: none;
}
.products .product-tap span{
    margin: 0 16px;
    position: relative;
}
.products .product-tap span:first-child{
    margin-right: 0;
}
.products .product-tap span:last-child{
    margin-left: 0;
}
.products .product-tap span:not(:first-child)::after{
    content: '';
    position: absolute;
    top:0;
    right: -16px;
    width: 1px;
    height: 100%;
    background-color: #A9A9A9;
}
.products .p-header{
    display: flex;
    background: rgba(83, 172, 95, 1);
    border-radius: 18px;
    padding: 0 24px;
    overflow: hidden;
}
.products .p-header .content{
    margin-right: 16px;
    align-self: center;
}
.products .p-header .content h2{
    font-size: 26px;
    color: #fff;
    padding-bottom: 16px;
}
.products .p-header .content p{
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}
.products .p-header .img{
    background-color: rgb(255, 255, 255, 89%);
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    margin-top: 12px;
    width: 60%;
    min-width: 157px;
    max-width: 484px;
    display: flex;
    justify-content: center;
}
.products .p-header .img img{
    display: block;
    width: 82%;
    margin-top: -28%;
}
.filter-btn{
    position: relative;
    margin-right: 16px;
}
.filter-btn > span{
    display: inline-block;
    border: 1px solid #53ac5f;
    border-radius: 4px;
    padding: 4px 8px;
    margin-top: 8px;
    color: #53ac5f;
    cursor: pointer;
}
.filter-container{
    background-color: #fff;
    width:200px;
    border: 1px solid #A9A9A9;
    border-radius: 8px;
    list-style-type: none;
    text-align: left;
    padding: 8px 16px;
    position: absolute;
    top:27px;
    right:0;
    z-index: 1;
}
.filter-container span{
    display: block;
    margin: 16px 0;
    color: rgb(30, 30, 30, 50%);
    border-bottom: 1px solid #A9A9A9;
    padding-bottom: 8px;
}
.filter-container li{
    display: flex;
    flex-direction: row-reverse;
    padding: 4px 0;
}
.filter-container li input{
    width:fit-content;
    margin-right: 16px;
    cursor: pointer;
}
.filter-container li label{
    cursor: pointer;
}
@media (min-width: 768px){
    .products .product-tap span:first-child{
        margin-right: 32px;
    }
    .products .product-tap span:last-child{
        margin-left: 32px;
    }
}
@media (min-width: 992px) {
    .products .p-header{
        padding: 0 88px;
    }
    .products .p-header .content{
        margin-right: 56px;
    }
    .products .p-header .content h2{
        font-size: 64px;
        padding-bottom: 40px;
    }
    .products .p-header .content p{
        font-size: 24px;
        line-height: 50px;
    }
    .products .p-header .img{
        width: 100%;
    }
}
@media (min-width: 1400px) {
    .products .p-header .img{
        width: 34%;
    }
}
