*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 16px;
  direction: rtl;
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
  color:  #1E1E1E80;
}
.main-button{
  width:100%;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 14px 0;
  font-weight: bold;
  font-size: 1rem;
  color:#53AC5F;
  background-color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
}
.green-button{
  color:#FFFFFF;
  background-color: #53AC5F;
}
.outline-button{
  color: #53AC5F;
  font-size: 12px;
  border: 1px solid #53AC5F;
  border-radius: 50px;
  padding: 8px 24px;
  display: inline-block;
  text-decoration: none;
}
.main-input{
  border: thin solid #53AC5F;
  background-color: #FFFFFF;
}
.container{
  width:100%;
  padding: 100px 24px;

}
@media (min-width:768px){
  .container{
    padding-left: 56px;
    padding-right: 56px;
  }
}
@media (min-width:992px){
  .container{
    /* padding: 64px 80px; */
    padding: 120px 80px;
  }
  .main-input{
    border: none;
    background-color: rgb(211, 240, 192, 46%);;
  }
}
@media (min-width:1200px){
  .container{
    padding-left: 160px;
    padding-right: 160px;
  }
}
@media (min-width:1400px){
  .container{
    /* padding: 80px 96px; */
    padding: 140px 96px;
  }
}
