.pot-color-container{
  display: flex;
  margin-top: 3.86px;
  max-width: 100%;
  flex-wrap: wrap;
}
.pot-color{
  width:23.18px;
  min-width:23.18px;
  height:23.18px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #53AC5F;
}
.pot-color:not(:first-child, :last-child){
  margin: 0 12.36px;
}
.pot-color.active{
  outline: 2.32px solid #B6B5B5;
  outline-offset: 3.86px;
}
.quantity{
  width: fit-content;
  font-size: 1rem;
  user-select: none;
}
.quantity :first-child,
.quantity :last-child{
  border-radius: 50%;
  border: 1px solid #B2B9AE;
  padding:  7px;
  cursor: pointer;
}
.quantity :first-child:hover,
.quantity :last-child:hover{
  background-color: #F0F0F0;
}
.quantity :nth-child(2){
  margin: 0 12px;
}
.rating{
  direction: ltr;
}
@media (min-width: 576px){
  .rating span{
    font-size: 28px !important;
  }  
}
