.dashboard-layout {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
}
.dashboard-layout > span{
    position: absolute;
    top: 40px;
    right: 20px;
    font-size: 24px;
    color: rgba(167, 167, 167, 1);
    cursor: pointer;
}
.dashboard-layout .container{
    width: 100%;
    max-height: 100vh;
    overflow: auto;
    padding-top: 40px;
}
@media (min-width: 768px){
    .dashboard-layout > span{
        display: none;
    }
}